body {
    font-family: 'Oswald';
    margin: 0; 
    padding: 0;
    background-color:  #15161B ;
}

header {
    display: flex;
    justify-content: center;
}

.logo h2 { 
    color: #fff;
    font-size: 30px;
}

.logo span {
    color: #1A7993
}

.section-1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.area-title h3 {
    color: #fff;
    font-weight: normal;
}

.area-title h1 {
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-top: -16px;
}

.area-title a {
    display: inline-block; 
    background: #1A7993;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

}

.area-imagem img{
    width: 460px;
    height: auto;
    margin-top: 20px;
    margin-left: 55px;
}
